<h1>Create a New Team</h1>

<form action="/teams" method="post">
  <p>
    <select>
    <% Sport.all.each do |sport| %>
      <option name="team[sport]" value="<%= sport.id %>"><%= sport.name %> - <%= sport.gender %></option>
    <% end %>
    </select>
  </p>
  <p>
  <select>
    <% Season.all.each do |season| %>
      <option name="team[season_id]" value="<%= season.id %>"><%= season.name %></option>
    <% end %>
  </select>
  </p>
  <input type="submit" value="Create Team">
</form>
