<h1>Home Page for <%= @athlete.firstname %>   <%= @athlete.lastname %></h1>
<ul>
  <li><%= @athlete.team %> - <%= @athlete.year %> - No. <%= @athlete.number %></li>
  <li>Date of Birth: <%= @athlete.birthdate %></li>
  <li>Height: <%= @athlete.height %></li>
  <li>Weight: <%= @athlete.weight %></li>
  <li>Hometown: <%= @athlete.city %>, <%= @athlete.state %></li>
  <li>High School: <%= @athlete.high_school %></li>
  <li>Instagram: <a href="https://www.instagram.com/aaron_sabato14/"><%= @athlete.ig_handle %></li></a>
  <li>Bio: <%= @athlete.biography %></li>
</ul>
